:root {
    --background-blue: white;
    --tint-blue: smokewhite;
    --primary-blue: rgb(7, 7, 69);
    --active-blue: lightblue;
    --secondary-blue: lightblue;
    --contrast-blue: orange;
    --hover-blue: lightblue;
    --text-on-primary-color-blue: white;
    --text-color-blue:rgb(7, 7, 69);
    
    --tint-color: var(--tint-blue);
    --active-color: var(--active-blue);
    --background-color: var(--background-blue);
    --primary-color: var(--primary-blue);
    --secondary-color: var(--secondary-blue);
    --hover-color: var(--hover-blue);
    --contrast-color: var(--contrast-blue);
    --text-on-primary-color:    var(--text-on-primary-color-blue);
    --text-color: var(--text-color-blue);
  }
 
body{padding: 10px;background-color: var(--background-color) !important;}

.warning-button{
    display: none;
}
.warning-button.active{
    border-color: var(--contrast-color) !important;
    background-color: transparent;
    display: block;
    color:  var(--contrast-color);
}

.card{padding:10px;
background-color: var(--tint-color) !important;
color: var(--text-color);
}
.subtitle{
font-size: 1.1em;
font-weight: bold;
color: var(--text-color);
}
.btn-sm{
    color: var(--text-color);
    border: None !important; 
    border-radius: 0% !important;
    background-color: transparent !important;
}
.btn-sm.active{
    border-bottom: 3px solid var(--primary-color) !important;  
}
button{ margin-top:5px;}
.bordered {      
    border: 1px solid lightgrey !important; 
} 

.scrollable{ 
      height: 100%;
      overflow-y: scroll;
      overflow-x: None;
}  

.checkbox-row{
    padding-top:5px;padding-bottom: 5px;

}
.checkbox-row:hover{
    border: 1px solid var(--hover-color)  !important;
}
td:hover{
    border: 1px solid var(--hover-color)  !important;
}
.selected>td{
    background-color: var(--hover-color)!important;
}
.string-list-th{
    background-color: var(--primary-color) !important;
    color: var(--text-on-primary-color) !important;
    font-weight: bold !important;
}
 
.tab {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
}
.tab.active {
    background-color:var(--active-color);
    color: white;
}
.tab-content {
    display: none;
    margin-top: 10px;
    border-radius: 5px;
}
.tab-content.active {
    display: block;
}
.delete-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs-container {
    display: flex;
    align-items: center;
}
.add-tab-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

        .sidebar{
        background-color: #252526 ; 
        padding: 10px;
        }

        .sidebar-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2px;
            justify-content: center;
            width: 100%;
            height: 80px;
            background-color: #1E1E1E;
            
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease, transform 0.2s ease;
            border:1px solid black;
        }
        .sidebar-button i {
            font-size: 24px;
            margin-bottom: 5px;
        }
        .sidebar-button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }
    
     

            .pane {
                background-color: transparent;
                border: 1px solid var(--hover-color);
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;                
            }


            .side-pane {
                background-color: red;
                border: 1px solid #ddd;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
            }
            
    
   
        .hidden{
            display: none;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: lightgray;
            padding: 10px;
            border-radius: 5px;
            position: fixed;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .btn-custom {
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            border-radius: 0;
            background-color: transparent;
            border: 1px solid gray;
            border-left: 3px solid gray;
            border-right: 3px solid gray;
            color: inherit;
        }
        .btn-custom i {
            font-size: 24px;
            margin-bottom: 5px;
        }

 .svg-container{

    height: 100%;
    width:100%;
 }

 .js-plotly-plot{
    height: 100%;
    width:100%;
 }


 td { font-weight:bold; color: blueviolet; font-size:0.75em; }
 td:hover { background-color: lightgrey; }

 .scrollable-list {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
    }

    .scrollable-list ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .scrollable-list li {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }

.pane{
    overflow:None;
    background-color: transparent;
    border: 2px solid green;
    padding: 10px;
    }
	
         
              

                    .columns-container {
                        display: flex;
						height: calc(100vh - 66px);
						border: 2px solid grey;
						
                    }

                    .column {
                        display: flex;
                        flex-direction: column;
                        border: 2px solid black;
						height:100%;
		 
                    }

                    .separator {
                        width: 8px;
                        background-color: lightgrey;
                        cursor: ew-resize;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                    }

                    .separator:hover {
                        background-color: black;
                    }

                    .handler:hover {
                        background-color: black;
                        height: 10px;
                    }

                    .handler {
                        height: 10px;
                        background-color: lightgrey;
                    }
	
                    .dialog {
                        position: absolute;
                        min-width: 1600px;
                        min-height: 400px;
                        max-height: 80vh;
                        width: min(66vw, 1600px);
                        background: white;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        resize: both;
                        overflow: auto;
                        animation: fadeIn 0.3s ease;
                      }
                      
                      .dialog-body {
                        padding: 16px;
                        max-height: calc(90vh - 120px);
                        overflow: scroll;
                      }
                      
                      .dialog-footer {
                        padding: 16px;
                        display: flex;
                        justify-content: flex-end;
                        border-top: 1px solid #eee;
                        background-color: #1E1E1E;
                      }
                      
                      .drag-handle {
                        padding: 16px;
                        background: #f1f1f1;
                        border-bottom: 1px solid #eee;
                        cursor: move;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      }
                      
                      .close-btn {
                        background: none;
                        border: none;
                        font-size: 1.2rem;
                        cursor: pointer;
                      }
                      
                      @keyframes fadeIn {
                        from { opacity: 0; transform: scale(0.95); }
                        to { opacity: 1; transform: scale(1); }
                      }

                  .page{
                          xxoverflow: scroll;
                          xxbackground-color: aqua;
                      }





                      table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                      }
                      
                      td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                      }
                      
                      tr:nth-child(even) {
                        background-color: #dddddd;
                      }