<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Main Layout Component</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- Add Plotly CDN -->
     <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
     <!--script src = "components.js"></script-->
     <!--script src= "app_components.js"></script-->

     <script src="{{ url_for('static', filename='globals.js') }}"></script>
     <script src="{{ url_for('static', filename='components.js') }}"></script>
     <script src="{{ url_for('static', filename='app_components.js') }}"></script>
     <script src="{{ url_for('static', filename='support.js') }}"></script>
     <script src="{{ url_for('static', filename='locs_chart_support.js') }}"></script>
     
     <link href ="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<style>
    body{padding: 20px;}
</style>

 
<body>

    <script>function Id(id){return document.getElementById(id)}</script>


    <button id="test-distances"> Fetch Distances </button>
    <button id="test-delete-injector"> Delete useless injector Distances </button>
    <input type="text" id="injector-to-delete">

    <button id="fetch-crm-input-data"> Fetch CRM input data </button>
    <button id="fetch-crm-input-data2"> Demo CRM input data </button>


    <crm-setup-element></crm-setup-element>

                
    <!-- div id='modelling-page' class='hidden page'>

        <div class="container-fluid">

            <div class="row">
                <div class="col-6 chart-container" id="crm-workstep-chart1" >
                </div>
                <div class="col-6 chart-container" id="crm-workstep-chart2" >
            
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 chart-container" id="crm-workstep-chart3" >
            
                </div>
                <div class="col-6 chart-container" id="crm-workstep-chart3" >
                </div>
            </div>
        </div>

        <h5> Well selection </h5>
        <div id='lasso-selected-indicator' style="line-height:  60px; vertical-align: middle;"
            class="hidden blue-indicator">
            Lasso selection active
        </div>

        <div id='all-selected-indicator' style="line-height:  60px; vertical-align: middle;" class="white-indicator">
            Applied filters in chart
        </div>

        <p></p>
        <h5> Apply distance filter</h5>
        <div>
            <input id='model-distance' type="number" id="quantity" step="250" value='1750' name="quantity"
                class='form-control form-control-sm' min="500" max="15000">
            <p></p>
            <div>
                <label>Generate simulations table</label><br>
                <button id='extract-pairs-button' class='btn btn-primary'>Apply </button>
            </div>
                

                
        </div>
        <p></p>    
        <table-component id='simulations-table'></table-component>
        <p></p>
        <h5> Training period </h5>
        <div>
            <input type='checkbox' class='hidden' id="injector-producer-distance-checkbox">
            <div>Start<input value='2016-05-01' id='model-date1' class='btn  date-entry' type="date"></div>
            <div>End<input value='2024-09-01' id='model-date2' class='btn  date-entry' type="date"></div>
            <div><button class='btn btn-primary' id="apply-dates-button">Apply </button> </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class='col-6'>
                    <chart-placeholder-component id="chart1"
                        layout='{ "showlegend": true, "showgrid": true, "height":"400", "margin": {"l":"50", "r":"40","t":"30","b":"30"}  }'></chart-placeholder-component>
                </div>
                <div class='col-6'>
                    <chart-placeholder-component id="chart2"
                        layout='{ "showlegend": true,"showgrid": true,  "height":"400", "margin": {"l":"50", "r":"40","t":"30","b":"30"}  }'></chart-placeholder-component>
                </div>
            </div>


            <div class="row">
                <div class='col-6'>
                    <chart-placeholder-component id="chart3"
                        layout='{ "showlegend": true, "showgrid": true, "height":"400", "margin": {"l":"50", "r":"40","t":"30","b":"30"}  }'></chart-placeholder-component>
                </div>
                <div class='col-6'>
                    <chart-placeholder-component id="chart4"
                        layout='{ "showlegend": true,"showgrid": true, "height":"400", "margin": {"l":"50", "r":"40","t":"30","b":"30"}  }'></chart-placeholder-component>
                </div>
            </div>

        </div>
        <p></p>
        <h5> Simulation name </h5>
        <input id='model-name' class="form-control form-control-sm" type="text" value="TestModel1">
        <p></p>
        <h5>Model type:</h5>
        <select id='model-type' name="balance" class="form-select" onchange="function s()
                        {  
                                                            
                            let model = document.getElementById('model-type').value
                            let disabled = (model=='crm_tank') || (model=='crmip')
                            console.log('here, model = ', model,' disabled ', disabled )  
                                                                            
                            if( disabled==true)                                   
                            document.getElementById('model-balance-placeholder').classList.add('hidden')
                            else
                            document.getElementById('model-balance-placeholder').classList.remove('hidden')
                                                            
                        }; 
                        s()">
            
            <option value="crm_tank">CRMT</option>
            <option value="crm_p">CRMP</option>
            <option value="crmip">CRMIP</option>
            <option value="crmp_constrained">CRMP Constrained</option>
            <option selected value="crmid_constrained">CRMID Constrained</option>
            

        </select>
            <div id='model-balance-placeholder'><label class='mt-3'>Balanced </label>
                <select class='form-control form-control-sm' name="balance" id='model-balance'>
                    <option value="none">No</option>
                    <option selected value="quick">Quick</option>
                    <option value="full">Full</option>
                </select>
            </div>
        <p></p>
        <h5>Advanced parameters</h5>
        <details>
            <p></p>
            <div class='row'>
                <div class='col-3 text-end'><b>Parameter</b></div>
                <div class='col-3 text-center'>Initial</div>
                <div class='col-3 text-center'>Min</div>
                <div class='col-3 text-center'>Max</div>
                <hr>
            </div>

            <div class='row'>
                <div class='col-3 text-end'><b>Tau</b></div>
                <div class='col-3'><input class='form-control form-control-sm tau-initial' id=  'tau-initial' type="number" min="0.1" max="100" value="1" decimals="1" step="1"></div>
                <div class='col-3'><input class='form-control form-control-sm tau-min'     id = 'tau-min' type="number"     min="0.1" max="100" value="0.5" decimals="1" step="1"></div>
                <div class='col-3'><input class='form-control form-control-sm tau-max'     id = 'tau-max' type="number"     min="0.2" max="100" value="50"  decimals="1" step="1"></div>
            </div>

            <div class='row'>
                <div class='col-3 text-end'><b>Taup</b></div>
                <div class='col-3'><input class='form-control form-control-sm taup-initial' id='taup-initial' type="number" min="0.1" max="100" value="1" decimals="1" step="1"></div>
                <div class='col-3'><input class='form-control form-control-sm taup-min' id='taup-min' type="number" min="0.1" max="100" value="0.5"   decimals="1" step="1"></div>
                <div class='col-3'><input class='form-control form-control-sm taup-max' id='taup-max'  type="number" min="0.2" max="100" value="50" decimals="1" step="1"></div>
            </div>

            <div class='row'>
                <div class='col-3 text-end'><b>Lambda</b></div>
                <div class='col-3'><input class='form-control form-control-sm lambda-initial' id = 'lambda-initial' type="number" min="0.1" max="1.0" value="0.1"
                        decimals="1" step="0.1">
                </div>

                <div class='col-3'><input class='form-control form-control-sm lambda-min' id = 'lambda-min' type="number" min="0.0" max="2" value="0.0"
                        decimals="1" step="0.1"></div>
                <div class='col-3'><input class='form-control form-control-sm lambda-max' id = 'lambda-max' type="number" min="0.0" max="2.0" value="1.0"
                        decimals="1" step="0.1"></div>
            </div>

            <div class='row'>
                <div class='col-3 text-end'><b>Primary coefficient</b></div>
                <div class='col-3'><input class='form-control form-control-sm primary-initial' id='primary-initial' type="number" min="0.1" max="1" value="1.0"
                        decimals="1" step="0.1"></div>
                <div class='col-3'><input class='form-control form-control-sm primary-min' id='primary-min' type="number" min="0.0" max="2" value="0"
                        decimals="1" step="0.1"></div>
                <div class='col-3'><input class='form-control form-control-sm primary-max'  id='primary-max' type="number" min="0.0" max="2.0" value="1.0"
                        decimals="1" step="0.1"></div>
            </div>

            <div class='row'>
                <div class='col-3 text-end'><b>Productivity index</b></div>
                <div class='col-3'><input class='form-control form-control-sm productivity-initial' id='productivity-initial' type="number" min="0.1" max="1" value="0.0"
                        decimals="1" step="0.1"></div>
                <div class='col-3'><input class='form-control form-control-sm productivity-min' id='productivity-min' type="number" min="0.0" max="2" value="0"
                        decimals="1" step="0.1"></div>
                <div class='col-3'><input class='form-control form-control-sm productivity-max' id='productivity-max' type="number" min="0.0" max="2.0" value="1.0"
                        decimals="1" step="0.1"></div>
            </div>

            <div class='hidden row'>
                <div class='col-3 text-end'><b>Regularization</b></div>
                <div class='col-3'>
                    <input class='form-control form-control-sm regularization' id='regularization' type="number" min="0.0" max="0.5" value="0.0" decimals="2"
                        step="0.01">
                </div>

            </div>





        </details>
        <div>
            <hr>
            </hr>
            Export only? <input id='export-only' type="checkbox" id="myCheck" checked> 
            <button id='history-match-save-and-run' style='margin:5px' class="btn btn-success"> Run</button>
        </div>
    </div -->

    <script>

        Id('test-delete-injector').addEventListener('click', function(){
            
            let crm_component = document.querySelector('crm-setup-element');
            let name = Id('injector-to-delete').value;
            crm_component.deleteInjector( name );
        });

        
        Id('test-distances').addEventListener('click', function(){
            
            return 
            //fetch from the UI
            //zone, subzone,selected_well_names (if any, it is a global variable) and the dates range
            //receives: the distances table and a rates table.
            //producer_rates: {
            // {
            //}

            let read_data = undefined;//get_project_data_selection();
            read_data = { 'a': 1, 'b': 2, 'c': 3 };

            get_server('get_crm_data','POST',JSON.stringify(read_data))
            .then( (resp) =>{
                
                let crm_component = document.querySelector('crm-setup-element');
                //let data = JSON.parse(resp);
                let distances_data = resp['distances'];
                console.log('data received from server', resp );//distances_data);
                /*Example of data received from the server
                [
                    {
                        "distance": 26724.086917357108,
                        "injector": "BG-0604-1_I",
                        "producer": "AH-0191-2_P"
                    },
                    {
                        "distance": 24437.634766939882,
                        "injector": "BG-0721-1_I",
                        "producer": "AH-0191-2_P"
                    },
                ]
                */

                crm_component.setData( distances_data, resp['rates']);

                //let pairs = crm_component.extractPairs( 750 );




                //crm_component.setData( data['distances'], data['rates'] );
                //crm_component.extractPairs( 1750 );
            })  
            .catch( (err) => {

                console.log('error', err);
            });

        });



        Id('fetch-crm-input-data').addEventListener('click', (evt)=>{

            function formatString(str) {
                if (!str) return '';
                const noUnderscores = str.replace(/_/g, ' ');
                return noUnderscores.charAt(0).toUpperCase() + noUnderscores.slice(1);
                }

            console.log('fetch-crm-input-data clicked');
            //toggleLoading(true);

            //get the filters. Zone, subzone, wells_selected if any.
            //time slice. 
            
                
                let component = document.getElementsByTagName('crm-setup-element')[0];

                let read_data = { 'a': 1, 'b': 2, 'c': 3 };
                get_server('get_crm_input_data','POST',JSON.stringify(read_data))
                .then( (resp) =>{

                console.log('data received from server', resp );//distances_data);
                /*Example of data received from the server
                {
                    "dates": [
                        "2023-01-01",
                        "2023-02-01",
                        "2023-03-01",
                        "2023-04-01",
                        "2023-05-01",

                    ],
                    "distances": [
                        {
                            "distance": 26724.086917357108,
                            "injector": "BG-0604-1_I",
                            "producer": "AH-0191-2_P"
                        },
                            "distance": 3278.951071158391,
                            "injector": "BG-0757-1_I",
                            "producer": "BG-1766-2_P"
                        },
                        {
                            "distance": 4096.706186426527,
                            "injector": "BG-0758-1_I",
                            "producer": "BG-1766-2_P"
                        },
                        {
                            "distance": 6207.797163274271,
                            "injector": "BG-0759-1_I",
                            "producer": "BG-1766-2_P"
                        },

                            "distance": 3497.938905346225,
                            "injector": "BG-0604-1_I",
                            "producer": "BG-2203-1_P"
                        },
                        {
                            "distance": 5340.539927885718,
                            "injector": "BG-0721-1_I",
                            "producer": "BG-2203-1_P"
                        },
                        {
                            "distance": 4398.491484930774,
                            "injector": "BG-0722-1_I",
                            "producer": "BG-2203-1_P"
                        },
                    ],
                    "liquid_production": {
                        "data": {
                            "AH-0191-2_P": [
                                407.61655,
                                450.985,
                                451.67915,
                                456.0019
                
                            ],
                            "BG-0052-6_P": [
                                0,
                                1431.2434999999996,
                                2778.53845,
                                2907.1412
                            ],
                            "BG-0234-1_P": [
                                289.47475,
                                310.58589999999987,
                                306.7277,
                                300.5669000000001,
                                326.1468,
                                341.34515
                            ]  
                        },
                        "dates": [
                            "2023-01-01",
                            "2023-02-01"
                        ]
                    },

                    "water_injection": .... ther same 
                }
                */

                let rates = {
                    liquid_production: resp['liquid_production'],
                    water_injection: resp['water_injection'],
                    dates :resp['dates']
                }
                component.setData( resp['distances'], rates )
                })
                .catch( (error) =>{

                    console.log(error)
                });

            });



        function generateDemoData() {
            let data = {};
            const injectorsPool = Array.from({ length: 20 }, (_, i) => `injector${i + 1}`);

            for (let i = 1; i <= 12; i++) {
                const numInjectors = Math.floor(Math.random() * 3) + 1; // Random between 3 and 7
                const selectedInjectors = injectorsPool
                    .sort(() => 0.5 - Math.random()) // Shuffle injectors
                    .slice(0, numInjectors); // Take random injectors
                data[`producer${i}`] = selectedInjectors;
            }
            return data;
}

        

        Id('fetch-crm-input-data2').addEventListener('click', (evt)=>{


            const data = generateDemoData();
            console.log('generated data', data);

        });

       
        let component = document.getElementsByTagName('crm-setup-element')[0];
        component.addEventListener('clicked', (event) => {
            console.log('Simulation launched event received!', event.detail);


            // Handle the event here, e.g., start the simulation
            let control_setup = event.detail.crm_setup;
            
            console.log('Control setup:', control_setup);

            /*We need something like this*/
            /*
            ui client 
        start_simulation                
        {
        'project_name': 'NewProjectXavier', 
        'filters': {
        'zone': '', 
        'subzone': ['LW'], 
        'sector': [8, 4], 
        'name': ['BG-1723-1_I', 'BG-1768-1_I', 'BG-1925-1_I', 'BG-1935-1_I']
        }, 
        
        'managed_folder_name': 'azFolder', 
        'app_name': 'WF', 'data_folder_name': 'data', 
        'projects_folder_name': 'projects', 
        'studies_folder_name': 'studies'

        'dt': 1, 
        'max_running_time': 1000, 
        'optimizer': {'maxiter': 1000, 'name': 'SLSQP', 'tolerance': 0.001}, 
        'balance': {'type': 'quick', 'max_iter': 100, 'tolerance': 0.01}, 
        'primary': True, 
        'regularization': 0

        #control 

        'export_only': True, 
 
        'distance': 1234, 
        
        'explicit': 
        {
            'subzone': 
            {'LW': 
                {'BG-0052-6_P': ['BG-1925-1_I', 'BG-1935-1_I'], 
                'BG-0236-2_P': ['BG-1588-1_I', 'BG-1692-1_I'], 
                'BG-0724-3_P': ['BG-0756-1_I']
                }
            }
        }, 
            
        'simulation': {
            
                'name': 'TestModel1', 
                'type': 'crm_p', 
                'dates': ['2016-05-01', '2024-09-01'], 
            
                'parameters': {
                'tau': {'bounds': [0.5, 50], 'init_value': 1}, 
                'taup': {'bounds': [0.5, 50], 'init_value': 1}, 
                'lambda': {'bounds': [0, 1], 'init_value': 0.1}, 
                'productivity_index': {'bounds': [0, 1], 'init_value': 0}, 
                'qo_lambda': {'bounds': [0, 1], 'init_value': 1}
                },


        }, 
            

        }
 
        */
        
        });




        //const tableComponent = document.querySelector("injector-producer-table-component");
        //tableComponent.setData( data);
        //console.log("Current Data:", tableComponent.getData());


        /*document.getElementById('test').addEventListener('click', function(){
            alert('test clicked in main');
            let data = generateDemoData();
            document.querySelector('crm-setup-element').setWellPairs( data );
        })*/


        /*document.getElementById('history-match-save-and-run').addEventListener('click', function(){
            alert('history-match-save-and-run clicked');

            window.dispatchEvent(new CustomEvent('simulation-launched', {
            detail: { name: 'Data-driven model' }
            }));

        });*/

        /*window.addEventListener('my-global-event', (event) => {
        console.log('Global event received!', event.detail);
        });*/



    </script>


</body>
</html>

                
     
