<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Main Layout Component</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- Add Plotly CDN -->
     <script src='https://cdn.plot.ly/plotly-3.0.0.min.js'></script>
     <!--script src = "components.js"></script-->
     <!--script src= "app_components.js"></script-->

     <script src="{{ url_for('static', filename='globals.js') }}"></script>
     <script src="{{ url_for('static', filename='components.js') }}"></script>
     <script src="{{ url_for('static', filename='app_components.js') }}"></script>
     <script src="{{ url_for('static', filename='support.js') }}"></script>
     <script src="{{ url_for('static', filename='locs_chart_support.js') }}"></script>
     
     <link href ="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>

    <!-- spinning indicator of a long operation -->
    <div id="loading" class="loader hidden"><div class="spinner"></div>Loading...</div>
    <script>function toggleLoading(show) {
        let message = document.getElementById("loading");//.style.display = show ? "block" : "none";

        if (show) {
            message.classList.remove('hidden');// .style.display = "block"; // Show message
        } else {
            message.classList.add('hidden');// .style.display = "none"; // Hide message
        }
      

    }</script>
    <script>function Id(id){return document.getElementById(id)}</script>


    <div id='projects-component-container' class="hidden pane projects-component-container">

   
        <div class="projects-component-left">
            <h1 style="font-size: 46px;">Waterflood Insights</h1>
            <h2>Open project</h2>
        </div>
    
        <div class="projects-component-divider"></div>
    
        <div class="projects-component-right">
            <project-list-component id="project-list-component"></project-list-component> <!-- Custom Component -->
        </div>
    </div>


    <div id="top-right-pagination">
        <ul class="pagination">
          <li class="page-item">
            <a id='field-tab-button' class="field-tab btn-sm page-link">Field</a>
          </li>

          <li class="page-item">
            <a id='sector-tab-button' class="field-tab btn-sm  page-link">Sector </a>
          </li>
          <li class="page-item">
            <a id='wells-tab-button'class="field-tab btn-sm page-link">Wells</a>
          </li>
          <li class="page-item">
            <a id='workflows-tab-button'class="field-tab btn-sm page-link">Workflows</a>
          </li>
        </ul>
     
        <div id="field-charts-container" class="field-chart-container">
        <p>Field charts go here...</p></div>
        <div id="sector-charts-container" class="field-chart-container">
        <p>Sector charts go here...</p></div>
        <div id="wells-charts-container" class="field-chart-container">
        <p>Wells charts go here...</p></div>        
        <div id="workflows-charts-container" class="field-chart-container">
            <p>workflows go here...</p></div>        
    

        <script>
            let items = document.querySelectorAll('.field-tab');
            items.forEach((item) => {
                item.addEventListener('click', function(){
                    
                    let tabs = document.querySelectorAll('.field-chart-container'); 
                    tabs.forEach((tab) => {
                        tab.classList.add('hidden');// .style.display = 'none';
                    });
                    let tab_id = this.id.split('-')[0]+'-charts-container';
                    document.getElementById(tab_id).classList.remove('hidden');// .style.display = 'block';
                    

                });
            }); 
        </script>
    </div>

    <div id='side-bar-top' class="h50  p-3">
          
        <button id='data-tab1' class="btn btn-sm" onclick="showCard('data-selection-card',this)">Data</button>
        <button class="btn btn-sm" onclick="showCard('studies-selector-card',this)">Studies</button>
        <button class="btn btn-sm" onclick="showCard('views-selector-card',this)">Views</button>
        <!--button class="btn btn-sm" onclick="showCard('workflows-selector-card',this)">Workflows</button-->


        <div class="card" id="data-selection-card">
            <div>
                <p class="subtitle">Reservoir management unit</p>
                <combobox-component id="reservoir-unit-selector"></combobox-component>
            </div>
            <div>
   
                <details><summary style="font-weight: bold;font-size: 1.1em;">Sectors</summary>
                <two-column-checkbox-list id="sector-selector"></two-column-checkbox-list>
               </details>
            </div>
            <div>
                <p class="subtitle">Time frame</p>
                <label for="start-date" class="form-label">Start:</label>
                <input type="date" id="start-date" name="start-date" class="form-control mb-2">
                <label for="end-date" class="form-label">End:</label>
                <input type="date" id="end-date" name="end-date" class="form-control">
        
                <double-range-component></double-range-component>
                <p></p>
                Displace time frame and load data 
                <div class="d-flex align-items-center gap-2">
                    
                    <button class="btn btn-primary">
                        <i class="fas fa-caret-left"></i>
                    </button>
                    <input type="number" id="range-value" name="range-value" class="form-control text-center" min="1" max="180" value="1" style="width: 80px;">
                    <button class="btn btn-primary">
                        <i class="fas fa-caret-right"></i>
                    </button>
                </div>
        
            </div>
            <hr>
            <button id='apply-data-selection-button' class="btn btn-primary">Apply</button>        
        </div>

        <div class="card" id="studies-selector-card">
            <stringlist-component  
            checkboxes=true 
            selection_mode='single' 
            id='study-selector'>
        </stringlist-component>
            <button id='study-selector-button' class="btn btn-primary">Load</button>
        </div> 
     
        <div class="card" id="views-selector-card">
            <span>Text on charts <input type="checkbox" id="display-text-on-chart-button" name="display-option" value="text"></span>
            <script>Id('display-text-on-chart-button').addEventListener('click',(evt)=>{

                //let text_on_charts = evt.target.checked;
                //alert('changed',  text_on_charts);
            });</script>
        </div>
          

    </div>

    <div id='side-bar-bottom'  class="h50 p-3" astyle="top: 50%;">
        
        <p class="subtitle">Workflows</p>
        <div class="card" id="workflows-selector-card">
            <stringlist-component id='workflow-selector' checkboxes=true 
            notitle='Workflows' selection_mode='single'> 
            </stringlist-component>
        </div>
    </div>

    <!-- Sticky Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <button id="debug-stuff1">Fetch data for CRM modelling</button>

            <div class="container-fluid">
                <a class="navbar-brand" href="#">Waterflood insights</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
          
         
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id='initialize-app-button'class="nav-link active" aria-current="page">Initialize</a>
                        </li>

                      
                    </ul>
 
                    <button style='float:right' id="projects-list-button">Projects</button>
             
                    <button style='float:right' id="check">Debug</button>
                    <script>
                        Id('check').addEventListener('click', function(){
            
              
            
                            alert('clicked');
                            let extra_stuff = Id('extra-stuff');
                            let field_stuff = Id('field-stuff');
                            
                            if(extra_stuff.classList.contains('hidden')){
                                extra_stuff.classList.remove('hidden');
                                //field_stuff.classList.add('hidden');
                            }else{  
                                extra_stuff.classList.add('hidden');
                                //field_stuff.classList.remove('hidden');
                            }
                                
                        });
                    </script>
    
                    <button style='aamargin-left:20%'class="warning-button" 
                    id="well-selection-indicator">
                        <span class="warning-icon">&#9888;
                          Well selection active
                        </span>
                      </button>
                </div>
    
      
    
          
    
            </div>
    
    
    
          
    
    </nav>


    <div id='all-app-wrapper' class="container-fluid hidden">


    <div style="position: relative;top: 57px;" >
        <div class="row">
                <!--div class="col-2" style="background-color: black; 4height: 100vh;">
                    Left menu
                </div-->

            <div id='field-stuff' class="col-12">
            <three-column-main-layout id = "main-layout"></three-column-main-layout>
            </div>

            <div id='extaara-stuff' class="col-12 hidden" style="height: 100vh;">
                <div id = "extra-layout">  I am hidden </div>
            </div>
    

            <div id='extra-stuff'  class="col-12 hidden row bg-primary" style="height:calc(100vh - 57px);">
                <tabs-component id="bottom-tabs"></tabs-component>
                <script>
                    Id('bottom-tabs').addNewTab('tab1', 'sdfgsdgdfg');
                    Id('bottom-tabs').addNewTab('tab2', 'sdfgsdgdfg');
                    Id('bottom-tabs').addNewTab('tab3', 'sdfgsdgdfg');
                    
                </script>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p>
                <p>sdfdsfdf</p> 
            </div>
            
        </div>
    </div>

    </div>
    
 

 

<script id="initialize-app">

    let layout = Id('main-layout');
    let project_description; 

    function Id( id ) { return document.getElementById(id); }    
  
    function load_empty_app(){
        
        layout.set('left-top',Id('side-bar-top'));
        layout.set('left-bottom',Id('side-bar-bottom'));
        layout.set('right-top',Id('top-right-pagination'));
     

        iurl = 'get_list_of_projects';
        get_server(iurl, 'GET' )
            .then( (resp) =>{
                console.log('get_list_of_projects returned', resp);
                let projects = resp.data['projects'];
                let project_list = Id('project-list-component');
                project_list.projects = projects;
            })
            .then( ()=>{
                display_projects_page(true);
            } )
            .catch ((error) =>{
                console.log(error);
            });
    
    
    //document.querySelector('.projects-component-button btn btn-primary').click();

    }
    
    function load_project( project_name){
    
        return new Promise((resolve, reject) => {
            let iurl = 'get_project_description'
            let message = JSON.stringify( {project_name:project_name} )

            get_server(iurl, 'GET', message )
            .then( (resp) =>{
            console.log('get_project_description returned', resp);
            project_description = resp.data;
            resolve(resp.data);
            })
        .catch ((error) =>{
            console.log(error);
            });
        });
    }
 

    let resizePending = false;
    window.addEventListener('resize', () => {resizePending = true;});
    layout.addEventListener('pane-resized', () => {resizePending = true;});
    window.addEventListener('mouseup', () => { 
        
        console.log('mouseup...', resizePending);
        if(resizePending == true){
        
            let containers = document.querySelectorAll('.field-chart-container');
            containers.forEach((container) => {

                console.log('container:', container.offsetWidth, container.offsetHeight);
                let parent = container.parentElement;
                console.log('parent container:', parent.id,parent.offsetWidth, parent.offsetHeight);
                

                let plots = container.querySelectorAll('.js-plotly-plot');
                if(plots != null){
                    
                    for(let plt of plots){
                    try{
                    const layout = plt.layout;
                    console.log('layout', layout);
                    layout['width'] = parent.offsetWidth;
                    layout['autosize'] = true;
                    Plotly.Plots.resize(plt);
                    }catch(e){
                        console.log('Error resizing plot:', e);
                    }}

                }
            }); 

            resizePending = false;
        }
    });
  

    /*let app_layout = Id('main-layout');
    app_layout.addEventListener('pane-resized', (evt)=>
    {
        console.log( evt.detail );
    });*/


</script>
   
<script id='ui_events'>

    function display_projects_page( value ){

        if(value == true){
            Id('projects-component-container').classList.remove('hidden');
            Id('all-app-wrapper').classList.add('hidden');
        }
        else{
            Id('projects-component-container').classList.add('hidden');
            Id('all-app-wrapper').classList.remove('hidden');
        }
    }

    function load_and_display_study(study_name){

        console.log('loading and displaying a study named ', study_name);
        toggleLoading(true);
        setTimeout(()=>{
            toggleLoading(false);
        }, 2000);
        

    }

    /*when the user double-clicks in one workflow item*/
    Id('workflow-selector').addEventListener('dclicked',(evt)=>{
        //console.log('Workflow double-clicked:', evt.detail);
        console.log('workflow name double-clicked:', evt.detail.cell_text);

        /*let w = new CRMSetupElement();//crm-setup-element
        Id('workflows-charts-container').innerHTML = '';
        Id('workflows-charts-container').appendChild(w);
        Id('workflows-tab-button').click();
        */
    });

    /* Trigerred when the user clicks on a study in the list.*/
    Id('study-selector-button').addEventListener('click',(evt)=>{

        //the study name is fetched from the list 
        let study_name = Id('study-selector').selected()[0]['cell_text'];
        console.log('**Study name clicked:', study_name);

        load_and_display_study(study_name);
    });

    /*When the user selects a project in the projects list page*/
    Id('project-list-component').addEventListener('clicked', event => {
        console.log("Project clicked:", event.detail.projectName);
        //alert(`Opening project: ${event.detail.projectName}`);


        toggleLoading(true);
        load_project(event.detail.projectName).then( (data)=>{

            populate_project_description(data);
            display_projects_page(false);
            Id('field-tab-button').click()
            Id('data-tab1').click();
            toggleLoading(false);
        })
        .catch ((error) =>{
            console.log(error);
            toggleLoading(false);
        });
        ;
    });

    //navbar debug button
    Id('projects-list-button').addEventListener('click', function(){
        display_projects_page(true);
    });
    
    /* Trigerred when the user clicks "Apply" data selection in the left-top sidebar */
    Id('apply-data-selection-button').addEventListener('click', function(){
        

        function validateProjectDataSelection(read_data) {
            message = ""

            if(read_data['subzone']==undefined) return "\nInvalid RMU selection\n";
            if(read_data['subzone']=='Select option') return "\nInvalid RMU selection\n";

            
            if(!isValidDate( read_data['date'][0])) message = "\nInvalid start date\n";
            if(!isValidDate( read_data['date'][1])) message += "\nInvalid end date\n";

            return message;
        }

        let read_data = get_project_data_selection();
        let result  = validateProjectDataSelection( read_data );
        if( isEmptyOrWhitespace(result) == false){
            
            Swal.fire({
            title: "Error in selection",
            html: result.replaceAll("\n", "<br>"), 
            icon: "error"
             });
            return
        }

        
        if(read_data!=undefined){

            toggleLoading(true);
            get_server('get_locations_chart','POST', JSON.stringify(read_data))
            .then( (resp) =>{
                populate_locations_plot(resp.data);
                toggleLoading(false);
            })  
            .catch ((error) =>{
                console.log(error);alert('Error getting data for locations');
                toggleLoading(false);
            }); 
            
            get_server('get_field_charts','POST', JSON.stringify(read_data))
            .then( (resp) =>{
                console.log('get_field_charts returned', resp);
                populate_field_plots(resp.data);
            })
            .catch ((error) =>{
                console.log(error);alert('Error getting data for field data');
            }); 

            
            ////////////////
            get_server('get_field_wells','POST', JSON.stringify(read_data))
            .then( (resp) =>{
                console.log('get_field_wells_snapshot returned', resp);
                populate_field_wells_snapshot(resp.data);

                //dummy();
            })
            .catch ((error) =>{
                console.log(error);alert('Error getting data for field data');
            }); 


            ///////////////



        }
    }); 


    Id('debug-stuff1').addEventListener('click', (evt)=>{

        /*marking stuff in the locations chart*/
        let names = ['BG-1114-1_I','BG-1096-2_P'];
        let app_layout = Id('main-layout');
        let where = locations_chart_pane;
        let locs_container = app_layout.get_pane(where);// Id('locs-chart');
       

        highlightWellsInLocationsChart( locs_container, names, 'Highlighted' );
  
        return 


















        function formatString(str) {
            if (!str) return '';
            const noUnderscores = str.replace(/_/g, ' ');
            return noUnderscores.charAt(0).toUpperCase() + noUnderscores.slice(1);
            }

        console.log('debug-stuff1 clicked');
        toggleLoading(true);

        //get the filters. Zone, subzone, wells_selected if any.
        //time slice. 
        let read_data = undefined;//get_project_data_selection();
            read_data = { 'a': 1, 'b': 2, 'c': 3 };

   
            get_server('get_crm_input_data','POST',JSON.stringify(read_data))
            .then( (resp) =>{
                
                console.log('get_crm_input_data returned');
                let crm_component = document.querySelector('crm-setup-element');
                let distances_data = resp['distances'];
                console.log('data received from server', resp );//distances_data);
                /*Example of data received from the server
                {
                    "dates": [
                        "2023-01-01",
                        "2023-02-01",
                        "2023-03-01",
                        "2023-04-01",
                        "2023-05-01",

                    ],
                    "distances": [
                        {
                            "distance": 26724.086917357108,
                            "injector": "BG-0604-1_I",
                            "producer": "AH-0191-2_P"
                        },
                            "distance": 3278.951071158391,
                            "injector": "BG-0757-1_I",
                            "producer": "BG-1766-2_P"
                        },
                        {
                            "distance": 4096.706186426527,
                            "injector": "BG-0758-1_I",
                            "producer": "BG-1766-2_P"
                        },
                        {
                            "distance": 6207.797163274271,
                            "injector": "BG-0759-1_I",
                            "producer": "BG-1766-2_P"
                        },

                            "distance": 3497.938905346225,
                            "injector": "BG-0604-1_I",
                            "producer": "BG-2203-1_P"
                        },
                        {
                            "distance": 5340.539927885718,
                            "injector": "BG-0721-1_I",
                            "producer": "BG-2203-1_P"
                        },
                        {
                            "distance": 4398.491484930774,
                            "injector": "BG-0722-1_I",
                            "producer": "BG-2203-1_P"
                        },
                    ],
                    "liquid_production": {
                        "data": {
                            "AH-0191-2_P": [
                                407.61655,
                                450.985,
                                451.67915,
                                456.0019
                
                            ],
                            "BG-0052-6_P": [
                                0,
                                1431.2434999999996,
                                2778.53845,
                                2907.1412
                            ],
                            "BG-0234-1_P": [
                                289.47475,
                                310.58589999999987,
                                306.7277,
                                300.5669000000001,
                                326.1468,
                                341.34515
                            ]  
                        },
                        "dates": [
                            "2023-01-01",
                            "2023-02-01"
                        ]
                    },

                    "water_injection": .... ther same 
                }
                */

                let n = -1
                let keys = ['liquid_production','water_injection']
                let containers = [ Id('liquid-production-rates-container'), Id('water-injection-rates-container')]
                for(let key of keys){
                    n = n + 1 
                    
                    let rates = resp[key]['data']
                    let dates =  resp[key]['dates']
                    const traces = [];
                    for (const well in rates) {
                    traces.push({
                        //works extra_stuff: dates, 
                        x: dates, y: rates[well], mode: 'lines', name: well,
                        type: 'scatter'
                    });
                    }

                    series_name = formatString( key )
                    let chart = containers[n];
                    chart.innerHTML = "";
                    Plotly.newPlot( chart, traces, {
                    title: {'text':series_name, font: {size:20}},
                    xaxis: { text: 'Date' },yaxis: { text: 'Value' }}, {'responsive': true});
                }

                


                //crm_component.setData( distances_data, resp['rates']);
                //let pairs = crm_component.extractPairs( 750 );
                //crm_component.setData( data['distances'], data['rates'] );
                //crm_component.extractPairs( 1750 );

                toggleLoading(false);
            })  
            .catch( (err) => {

                console.log('error', err);
                toggleLoading(false);
            });
         

    });


    window.addEventListener('wells-names-selected-in-scatter-chart', (evt)=>{
        console.log('MAIN app: wells-names-selected-in-scatter-chart', evt.detail);
        let names = evt.detail.names;
        let key = 'Highlighted';
        
        let app_layout = Id('main-layout');
        let where = locations_chart_pane;
        let locs_container = app_layout.get_pane(where);
        highlightWellsInLocationsChart( locs_container, names, key );
    })

</script>

<script id="load-empty-app">

    
    window.onload = function() {
        load_empty_app();
    };





</script>

</body>
</html>
